/* Smooth animations */
* {
    transition:
        border-color 150ms ease,
        background-color 150ms ease,
        box-shadow 150ms ease;
}

/* Custom focus ring */
input:focus,
textarea:focus,
button:focus-visible {
    outline: none;
}

.pt-safe {
    padding-top: env(safe-area-inset-top);
}
.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}
.pl-safe {
    padding-left: env(safe-area-inset-left);
}
.pr-safe {
    padding-right: env(safe-area-inset-right);
}
