name: Unit Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt install -y libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev lld

      - name: Install Tailwind CSS CLI
        run: npm install -D tailwindcss

      - name: Generate Tailwind CSS
        working-directory: apps/footnote-ui
        run: npx tailwindcss -i ./assets/main.css -o ./assets/tailwind.css --minify

      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose --all-features
